.playlists{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlists__container{
    margin-top: 20px;
    width: 500px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
    /* align-items: center; */
}

.playlists__userPlaylists{
    text-align: center;
}

.gettracks__btn {
    align-self: center;
}